<section class="section section-events">
  <hr />
</section>
<div class="container py-md">
  <div class="row justify-content-between align-items-center">
    <div class="col-lg-6 mb-6 mb-lg-0">
      <div class="mb-3">
        <small class="text-uppercase font-weight-bold"
          >Selecione o tipo de ingresso</small
        >
      </div>
      <ngb-tabset
        #tabs
        [justify]="'center'"
        class="custom-tab-content flex-column flex-md-row"
        type="pills"
        *ngIf="lot"
      >
        <ngb-tab id="tab-category">
          <ng-template ngbTabTitle>
            <i class="ni ni-bell-55 mr-2"></i> Categoria
          </ng-template>
          <ng-template ngbTabContent>
            <h5>
              Lote {{ lot.dateStart | date: "EEE dd/MM" }} -
              {{ lot.dateEnd | date: "EEE dd/MM" }}
            </h5>
            <div
              class="card card-categories"
              *ngFor="let item of lot.lotCategories"
              (click)="confirmOrder(item)"
            >
              <div class="card-body">
                <p class="card-text">
                  {{ item.desc }} - R${{ item.priceCategory | number: "1.2-2" }}
                  <i class="ni ni-bold-right"></i>
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="!selectedLotCategory" id="tab-confirm">
          <ng-template ngbTabTitle>
            <i class="ni ni-calendar-grid-58 mr-2"></i> Confirmar
            <span *ngIf="selectedLotCategory">{{
              selectedLotCategory.desc
            }}</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="description desc-confirm">
              <div class="item">
                <div class="name">
                  {{ selectedLotCategory.desc }} R${{
                    selectedLotCategory.priceCategory
                  }}
                </div>
                <div class="quantity">
                  <div class="form-group">
                    <select
                      class="form-control"
                      id="quantity"
                      [(ngModel)]="quantity"
                    >
                      <option
                        [value]="q"
                        *ngFor="let q of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                      >
                        {{ q }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="name">Total de Ingressos</div>
                <div class="total">
                  {{
                    selectedLotCategory.priceCategory * quantity
                      | number: "1.2-2"
                  }}
                </div>
              </div>
              <div class="item">
                <div class="name">Total</div>
                <div class="total">
                  {{
                    loggedUser.credit -
                      selectedLotCategory.priceCategory * quantity
                      | number: "1.2-2"
                  }}
                </div>
              </div>
              <button
                class="btn btn-lg btn-slack btn-icon mb-3 mb-sm-0 mt-3"
                [disabled]="
                  loggedUser.credit -
                    selectedLotCategory.priceCategory * quantity <
                  0
                "
              >
                <span class="btn-inner--icon"
                  ><i class="fa fa-ticket"></i
                ></span>
                <span class="btn-inner--text">{{
                  loggedUser.credit -
                    selectedLotCategory.priceCategory * quantity <
                  0
                    ? "Créditos Insuficientes"
                    : "Comprar ingressos"
                }}</span>
              </button>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-lg-6 mb-lg-auto">
      <div
        class="rounded shadow-lg overflow-hidden transform-perspective-right"
      >
        <ngb-carousel interval="2000">
          <ng-template ngbSlide>
            <img
              class="img-fluid"
              src="assets/img/theme/img-1-1200x1000.jpg"
              alt="First slide"
            />
          </ng-template>
          <ng-template ngbSlide>
            <img
              class="img-fluid"
              src="assets/img/theme/img-2-1200x1000.jpg"
              alt="Second slide"
            />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
