<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div class="container">
  <div class="row py-3 align-items-center">
    <div class="col-sm-9">
      <h2 class="display-2 mb-0">Categorias</h2>
    </div>
  </div>

  <ngb-carousel
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    interval="12000"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="true"
    [activeId]="'secondSlide'"
  >
    <ng-template ngbSlide id="firstSlide">
      <div class="row">
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/cute-clipart/128/000000/music.png"
            alt="Música"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/doodle/96/000000/toy-train.png"
            alt="Infantil"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/plasticine/100/000000/certificate.png"
            alt="Cursos e Workshops"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/plasticine/100/000000/car.png"
            alt="Drive-in"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2">
          <img
            src="https://img.icons8.com/nolan/128/internet-explorer.png"
            alt="Online"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
      </div>
      <div class="row">
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Música</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Infantil</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Cursos e Workshops</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Drive-in</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Online</small
          >
        </div>
      </div>
      <!-- <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
      <div class="row">
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/color/96/000000/stadium.png"
            alt="Futebol"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/officel/80/000000/basketball-2.png"
            alt="Basquete"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/clouds/100/000000/sport.png"
            alt="Outros esportes"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <img
            src="https://img.icons8.com/clouds/100/000000/art-document---v2.png"
            alt="Museu e exposições"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
        <div class="picsum-img-wrapper col-sm-2">
          <img
            src="https://img.icons8.com/doodle/96/000000/firework-explosion.png"
            alt="Reveillón"
            class="img-fluid rounded-circle"
            style="width: 90px; cursor: pointer"
          />
        </div>
      </div>
      <div class="row">
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Futebol</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Basquete</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Outros esportes</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Museu e exposições</small
          >
        </div>
        <div class="picsum-img-wrapper col-sm-2 col-4 mt-5 mt-sm-0">
          <small class="text-uppercase text-muted font-weight-bold"
            >Reveillón</small
          >
        </div>
      </div>
      <!-- <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div> -->
    </ng-template>
  </ngb-carousel>
</div>
