<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-12 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a [routerLink]="['/profile']" class="btn btn-sm btn-default float-left">
                  <img src="https://img.icons8.com/flat_round/64/000000/back--v1.png" width="16px" />
                  Voltar ao perfil
                </a>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Evento</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Data de compra</th>
                  <th scope="col">Opções</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tickets; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{events[i].titleEvent}} - {{events[i].dateStart | DateTimeFormatPipe}}</td>
                  <td>{{events[i].titleEvent}} - {{events[i].dateStart | DateTimeFormatPipe}}</td>
                  <td>{{item.registerTime | DateTimeFormatPipe}}</td>
                  <td>
                    <button ngbTooltip="Abrir PDF" class="btn btn-lg btn-info" type="button">
                      <span class="btn-inner--icon">
                        <i class="fas fa-ticket-alt mr-2"></i>
                      </span>
                      Ingresso
                    </button>
                    <button *ngIf="!cashbackIsSolicited[i]" ngbTooltip="Solicitar reembolso" class="btn btn-sm btn-danger" type="button"
                      (click)="requestCashback(modalCashback, item)">
                      <span class="btn-inner--icon">
                        <i class="fas fa-window-close mr-2"></i>
                      </span>
                      Solic. reembolso
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <button class="btn btn-lg btn-info" type="button">
                  <span class="btn-inner--icon">
                    <i class="fas fa-ticket-alt mr-2"></i>
                  </span>
                  Meus Tickets
                </button>
                <button class="btn btn-lg btn-success" type="button">
                  <span class="btn-inner--icon">
                    <i class="fas fa-calendar-week mr-2"></i>
                  </span>
                  Criar Evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div bsModal #modalCashback="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">DESEJA FAZER UMA REQUISIÇÃO DE CASHBACK PARA ESSE
          INGRESSO?</h4>
        <button type="button" class="close pull-right" (click)="modalCashback.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Você deverá justificar a causa de requisitar o cashback</h5>
        <div class="form-group col-md-12">
          <textarea class="form-control" [(ngModel)]="formCashback"></textarea>
        </div>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="modalCashback.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" (click)="confirmRequestCashback(modalCashback)">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>