<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-12 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a [routerLink]="['/profile']" class="btn btn-sm btn-default float-left">
                  <img src="https://img.icons8.com/flat_round/64/000000/back--v1.png" width="16px"/> 
                  Voltar ao perfil
                </a>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <div class="card card-categories" *ngFor="let item of events" >
              <div class="card-body" [routerLink]="['./'+ item.eventId +'/edit/']">
                <p class="card-text">
                  {{item.titleEvent}} - {{item.dateStart | DateFormatPipe}}
                  <i class="ni ni-bold-right"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
