<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="{{user.image.src}}" class="rounded-circle" *ngIf="user.image">
                  <img
                    src="https://toppng.com/uploads/preview/circled-user-icon-user-pro-icon-11553397069rpnu1bqqup.png"
                    class="rounded-circle" *ngIf="!user.image">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="getTickets()">Meus ingressos</a>
                <a [routerLink]="['/profile/edit']" class="btn btn-sm btn-default float-right">
                  Editar perfil
                </a>
                <a *ngIf="user.events" [routerLink]="['/profile/events']" class="btn btn-sm btn-danger float-right">
                  Meus Eventos
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading" *ngIf="user.tickets">{{user.tickets.length}}</span>
                  <span class="description">Meus Tickets</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{user.name}}
              <span class="font-weight-light">, {{idade}}</span>
            </h3>
            <div class="h6 font-weight-300" *ngIf="user.addresses"><i
                class="ni location_pin mr-2"></i>{{user.addresses[0].city}},
              {{user.addresses[0].country}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>_
            </div>
            <div><i class="ni education_hat mr-2"></i>Usuário novo</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <button class="btn btn-lg btn-warning" type="button" (click)="openExtratoPDF()">
                  <span class="btn-inner--icon">
                    <i class="fas fa-file-pdf mr-2"></i>
                  </span>
                  Exportar Extrato (PDF)
                </button>
                <button class="btn btn-lg btn-info" type="button" (click)="getTickets()">
                  <span class="btn-inner--icon">
                    <i class="fas fa-ticket-alt mr-2"></i>
                  </span>
                  Meus Tickets
                </button>
                <button class="btn btn-lg btn-success" type="button" (click)="createModalEvent(criar)">
                  <span class="btn-inner--icon">
                    <i class="fas fa-calendar-week mr-2"></i>
                  </span>
                  Criar Evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div bsModal #criar="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">CRIE SEU EVENTO</h4>
        <button type="button" class="close pull-right" (click)="criar.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="eventForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Título do evento</label>
              <input type="text" class="form-control form-control-alternative" formControlName="titleEvent"
                [ngClass]="{'is-invalid': eventForm.get('titleEvent').errors && eventForm.get('titleEvent').touched}">
              <div *ngIf="eventForm.get('titleEvent').hasError('required') && eventForm.get('titleEvent').touched"
                class="invalid-feedback">
                Título é obrigatório.
              </div>
              <div *ngIf="eventForm.get('titleEvent').hasError('minlength') && eventForm.get('titleEvent').touched"
                class="invalid-feedback">
                Título deve ter no mínimo 4 Caracters.
              </div>
              <div *ngIf="eventForm.get('titleEvent').hasError('maxlength') && eventForm.get('titleEvent').touched"
                class="invalid-feedback">
                Título deve ter no máximo 50 Caracters.
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>Descrição do evento</label>
              <textarea type="text" class="form-control form-control-alternative" formControlName="description"
                [ngClass]="{'is-invalid': eventForm.get('description').errors && eventForm.get('description').touched}">
              </textarea>
              <div *ngIf="eventForm.get('description').hasError('required')
              && eventForm.get('description').touched" class="invalid-feedback">
                Descrição é obrigatória.
              </div>
              <div *ngIf="eventForm.get('description').hasError('minlength') && eventForm.get('description').touched"
                class="invalid-feedback">
                Descrição deve ter no mínimo 4 Caracters.
              </div>
              <div *ngIf="eventForm.get('description').hasError('maxlength') && eventForm.get('description').touched"
                class="invalid-feedback">
                Descrição deve ter no máximo 1000 Caracters.
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>Categoria</label>
              <select class="form-control form-control-alternative" id="sel1" formControlName="category">
                <option *ngFor="let opt of optionsCateg" [ngValue]="opt.id">{{opt.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6" formGroupName="address">
              <label>País</label>
              <input type="text" class="form-control form-control-alternative" formControlName="country"
                [ngClass]="{'is-invalid': eventForm.get('address.country').errors && eventForm.get('address.country').touched}"
                placeholder="">
              <div
                *ngIf="eventForm.get('address.country').hasError('required') && eventForm.get('address.country').touched"
                class="invalid-feedback">
                País é obrigatório.
              </div>
              <div
                *ngIf="eventForm.get('address.country').hasError('minlength') && eventForm.get('address.country').touched"
                class="invalid-feedback">
                País deve ter no mínimo 3 caracteres.
              </div>
              <div
                *ngIf="eventForm.get('address.country').hasError('maxlength') && eventForm.get('address.country').touched"
                class="invalid-feedback">
                País deve ter no máximo 45 caracteres.
              </div>
            </div>
            <div class="form-group col-md-6" formGroupName="address">
              <label>CEP</label>
              <input type="text" class="form-control form-control-alternative" formControlName="zipCode"
                mask="00000-000" (change)="buscaCEP()"
                [ngClass]="{'is-invalid': eventForm.get('address.zipCode').errors && eventForm.get('address.zipCode').touched}"
                placeholder="">
              <div
                *ngIf="eventForm.get('address.zipCode').hasError('required') && eventForm.get('address.zipCode').touched"
                class="invalid-feedback">
                CEP é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4" formGroupName="address">
              <label>Estado</label>
              <input type="text" class="form-control form-control-alternative" formControlName="state" disabled
                [ngClass]="{'is-invalid': eventForm.get('address.state').errors && eventForm.get('address.state').touched}"
                placeholder="">
              <div *ngIf="eventForm.get('address.state').hasError('required') && eventForm.get('address.state').touched"
                class="invalid-feedback">
                Estado é obrigatório.
              </div>
              <div
                *ngIf="eventForm.get('address.state').hasError('minlength') && eventForm.get('address.state').touched"
                class="invalid-feedback">
                Estado deve ter no mínimo 2 caracteres.
              </div>
              <div
                *ngIf="eventForm.get('address.state').hasError('maxlength') && eventForm.get('address.state').touched"
                class="invalid-feedback">
                Estado deve ter no máximo 255 caracteres.
              </div>
            </div>
            <div class="form-group col-md-8" formGroupName="address">
              <label>Cidade</label>
              <input type="text" class="form-control form-control-alternative" formControlName="city" disabled
                [ngClass]="{'is-invalid': eventForm.get('address.city').errors && eventForm.get('address.city').touched}"
                placeholder="">
              <div *ngIf="eventForm.get('address.city').hasError('required') && eventForm.get('address.city').touched"
                class="invalid-feedback">
                Cidade é obrigatório.
              </div>
              <div *ngIf="eventForm.get('address.city').hasError('minlength') && eventForm.get('address.city').touched"
                class="invalid-feedback">
                Cidade deve ter no mínimo 2 caracteres.
              </div>
              <div *ngIf="eventForm.get('address.city').hasError('maxlength') && eventForm.get('address.city').touched"
                class="invalid-feedback">
                Cidade deve ter no máximo 255 caracteres.
              </div>
            </div>
            <div class="form-group col-md-8" formGroupName="address">
              <label>Logradouro</label>
              <input type="text" class="form-control form-control-alternative" formControlName="street"
                [ngClass]="{'is-invalid': eventForm.get('address.street').errors && eventForm.get('address.street').touched}"
                placeholder="">
              <div
                *ngIf="eventForm.get('address.street').hasError('required') && eventForm.get('address.street').touched"
                class="invalid-feedback">
                Logradouro é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4" formGroupName="address">
              <label>Número</label>
              <input type="number" class="form-control form-control-alternative" formControlName="num"
                [ngClass]="{'is-invalid': eventForm.get('address.num').errors && eventForm.get('address.num').touched}"
                placeholder="">
              <div *ngIf="eventForm.get('address.num').hasError('required') && eventForm.get('address.num').touched"
                class="invalid-feedback">
                Número é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" formGroupName="address">
              <label>Complemento</label>
              <input type="text" class="form-control form-control-alternative" formControlName="complement"
                [ngClass]="{'is-invalid': eventForm.get('address.complement').errors && eventForm.get('address.complement').touched}"
                placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Data / hora de INÍCIO</label>
              <input type="text" class="form-control form-control-alternative" formControlName="dateStart" bsDatepicker
                value="{{dateStart | DateFormatPipe}}" [(ngModel)]="dateStart"
                [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY' }"
                [ngClass]="{'is-invalid': eventForm.get('dateStart').errors && eventForm.get('dateStart').touched}"
                placeholder="">
              <div *ngIf="eventForm.get('dateStart').hasError('required') && eventForm.get('dateStart').touched"
                class="invalid-feedback">
                Data e hora é obrigatório.
              </div>
            </div>

            <div class="form-group col-md-2">
              <label>Hora INICIO</label>
              <input type="time" placeholder="" class="form-control form-control-alternative" value="{{ hora1 }}"
                (change)="updtHorario1($event)" />
            </div>
            <div class="form-group col-md-4">
              <label>Data / Hora do FIM</label>
              <input type="text" class="form-control form-control-alternative" formControlName="dateEnd" bsDatepicker
                (change)="showData()" value="{{dateEnd | DateFormatPipe}}" [(ngModel)]="dateEnd"
                [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY' }"
                [ngClass]="{'is-invalid': eventForm.get('dateEnd').errors && eventForm.get('dateEnd').touched}"
                placeholder="">
              <div *ngIf="eventForm.get('dateEnd').hasError('required') && eventForm.get('dateEnd').touched"
                class="invalid-feedback">
                Data e hora é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-2">
              <label>Hora FIM</label>
              <input type="time" placeholder="" class="form-control form-control-alternative"
                (change)="updtHorario2($event)" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Capacidade máxima de pessoas</label>
              <input type="number" placeholder="" class="form-control form-control-alternative is-invalid"
                formControlName="capacity"
                [ngClass]="{'is-invalid': eventForm.get('capacity').errors && eventForm.get('capacity').touched}">
              <div *ngIf="eventForm.get('capacity').hasError('required') && eventForm.get('capacity').touched"
                class="invalid-feedback">
                Capacidade máxima é obrigatória
              </div>
              <div *ngIf="eventForm.get('capacity').hasError('max') && eventForm.get('capacity').touched"
                class="invalid-feedback">
                Máximo de pessoas é de 1.000.000 (um milhão)
              </div>
            </div>
          </div>
        </form>
        <div class="progress-wrapper" *ngIf="eventProgress > 0">
          <div class="progress-info">
            <div class="progress-label">
              <span>Salvando evento</span>
            </div>
            <div class="progress-percentage">
              <span>{{eventProgress}}%</span>
            </div>
          </div>
          <ngb-progressbar type="default" [(value)]="eventProgress"></ngb-progressbar>
        </div>
        <div *ngIf="eventProgress === 100">
          <ngb-alert type="warning" [dismissible]="true">
            <ng-container>
              <div class="alert-inner--icon">
                <i class="ni ni-bell-55"></i>
              </div>
            </ng-container>
            <span class="alert-inner--text"> <strong>
                <h3>Atenção!</h3>
              </strong>
              <p>É essencial editar o evento preenchendo com o preço dos ingressos, lotes e categorias (se houver) de
                ingressos, antes que seja publicado
              </p>
            </span>
          </ngb-alert>
          <button class="btn btn-lg btn-success" type="button" [routerLink]="getEventEditUrl()">
            <span class="btn-inner--icon">
              <i class="fas fa-calendar-week mr-2"></i>
            </span>
            EDITAR EVENTO
          </button>
        </div>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary disabled" (click)="criar.hide()" [disabled]="eventProgress > 0">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" (click)="agendarEvento()" [disabled]="eventProgress > 0">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>





<div role="dialog" aria-labelledby="dialog-sizes-name1" class="modal fade" tabindex="-1">
  <table class="table table-striped" id="extrato" #extrato *ngIf="lotCategories">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Movimentação</th>
        <th scope="col">Horário</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Saldo inicial de criação da conta</td>
        <td>{{user.registerTime | DateTimeFormatPipe}}</td>
        <td>+R$100,00</td>
      </tr>
      <tr *ngFor="let item of user.tickets; let i = index">
        <th scope="row">{{i+2}}</th>
        <td>Compra de ingresso</td>
        <td>{{item.registerTime | DateTimeFormatPipe}}</td>
        <td class="text-danger">- R$ {{lotCategories[i].priceCategory | number : '1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>