<div class="position-relative">
  <h2>
    {{titulo}}
  </h2>
  <div class="d-flex">
    <div class="form-inline mr-auto">
      <div class="form-group mb-2">
        <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2" placeholder="buscar"
          [(ngModel)]="filtroLista">
      </div>
    </div>
    <div>
      <button class="btn btn-outline-primary" (click)="novoEvento(cadastro)">
        <i class="fa fa-plus-circle"></i>&nbsp;
        Novo Evento
      </button>
    </div>
  </div>
  <h3>Filtro: {{filtroLista}}</h3>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>
          Imagens
        </th>
        <th>ID</th>
        <th>Título</th>
        <th>Categoria</th>
        <th>Local</th>
        <th>Data</th>
        <th>Capacidade max.</th>
        <th>Lote</th>
        <th colspan="2">Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventos">
          <td>
            <button class="btn btn-nfo" ngbTooltip="Visualizar imagens" placement="top">
              <i class="fas fa-images"></i>
            </button>
          </td>
          <td>{{evento.eventId}}</td>
          <td>{{evento.titleEvent}}</td>
          <td>{{evento.category}}</td>
          <td>{{evento.address.city}} - {{evento.address.state}} </td>
          <td>{{evento.dateStart | date: 'short': '-3000': 'pt-BR'}}</td>
          <td>{{evento.capacity}}</td>
          <td>
            <div *ngIf="!evento.lots.length">
              Não Informado
            </div>
            <div *ngIf="evento.lots.length === 1">
              Lote único
            </div>
            <div *ngIf="evento.lots.length > 1">
              {{evento.lots.length}}
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-sm btn-success" placement="top" ngbTooltip="Edição Simples"
                tooltip="Edição Simples" (click)="editarEvento(evento, cadastro)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger btn-tooltip" placement="top" tooltip="Excluir" placement="top"
                ngbTooltip="Excluir" (click)="excluirEvento(evento, confirm)">
                <i class="fa fa-eraser"></i>
              </button>
            </div>
          </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos">
      <tr>
        <td colspan="7" class="text-center">
          <h4>
            Nenhum evento aprovado encontrado!
          </h4>
        </td>
      </tr>
    </tfoot>
  </table>

  <div bsModal #cadastro="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Criando/Alterando evento</h4>
          <button type="button" class="close pull-right" (click)="cadastro.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="eventForm" *ngIf="eventForm">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Título do evento</label>
                <input type="text" class="form-control" formControlName="titleEvent"
                  [ngClass]="{'is-invalid': eventForm.get('titleEvent').errors && eventForm.get('titleEvent').touched}">
                <div *ngIf="eventForm.get('titleEvent').hasError('required') && eventForm.get('titleEvent').touched" class="invalid-feedback">
                  Título é obrigatório.
                </div>
                <div *ngIf="eventForm.get('titleEvent').hasError('minlength') && eventForm.get('titleEvent').touched" class="invalid-feedback">
                  Título deve ter no mínimo 4 Caracters.
                </div>
                <div *ngIf="eventForm.get('titleEvent').hasError('maxlength') && eventForm.get('titleEvent').touched" class="invalid-feedback">
                  Título deve ter no máximo 50 Caracters.
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>Descrição do evento</label>
                <textarea type="text" class="form-control" formControlName="description"
                  [ngClass]="{'is-invalid': eventForm.get('description').errors && eventForm.get('description').touched}">
                </textarea>
                <div *ngIf="eventForm.get('description').hasError('required')
                && eventForm.get('description').touched" class="invalid-feedback">
                  Descrição é obrigatória.
                </div>
                <div *ngIf="eventForm.get('description').hasError('minlength') && eventForm.get('description').touched" class="invalid-feedback">
                  Descrição deve ter no mínimo 4 Caracters.
                </div>
                <div *ngIf="eventForm.get('description').hasError('maxlength') && eventForm.get('description').touched" class="invalid-feedback">
                  Descrição deve ter no máximo 1000 Caracters.
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>Categoria</label>
                <select class="form-control" id="sel1" formControlName="category">
                  <option *ngFor="let opt of optionsCateg" [ngValue]="opt.id">{{opt.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8" formGroupName="address">
                <label>Logradouro</label>
                <input type="text" class="form-control" formControlName="street"
                  [ngClass]="{'is-invalid': eventForm.get('address.street').errors && eventForm.get('address.street').touched}"
                  placeholder="">
                <div *ngIf="eventForm.get('address.street').hasError('required') && eventForm.get('address.street').touched" class="invalid-feedback">
                  Logradouro é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4" formGroupName="address">
                <label>Número</label>
                <input type="number" class="form-control" formControlName="num"
                  [ngClass]="{'is-invalid': eventForm.get('address.num').errors && eventForm.get('address.num').touched}"
                  placeholder="">
                <div *ngIf="eventForm.get('address.num').hasError('required') && eventForm.get('address.num').touched" class="invalid-feedback">
                  Número é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-8" formGroupName="address">
                <label>Complemento</label>
                <input type="text" class="form-control" formControlName="complement"
                  [ngClass]="{'is-invalid': eventForm.get('address.complement').errors && eventForm.get('address.complement').touched}"
                  placeholder="">
              </div>
              <div class="form-group col-md-4" formGroupName="address">
                <label>CEP</label>
                <input type="text" class="form-control" formControlName="zipCode"
                  [ngClass]="{'is-invalid': eventForm.get('address.zipCode').errors && eventForm.get('address.zipCode').touched}"
                  placeholder="">
                <div *ngIf="eventForm.get('address.zipCode').hasError('required') && eventForm.get('address.zipCode').touched" class="invalid-feedback">
                  CEP é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Data / hora de INÍCIO</label>
                <input type="text" class="form-control" formControlName="dateStart" bsDatepicker
                  value="{{dateStart | DateTimeFormatPipe}}" [(ngModel)]="dateStart"
                  [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }"
                  [ngClass]="{'is-invalid': eventForm.get('dateStart').errors && eventForm.get('dateStart').touched}"
                  placeholder="">
                <div *ngIf="eventForm.get('dateStart').hasError('required') && eventForm.get('dateStart').touched" class="invalid-feedback">
                  Data e hora é obrigatório.
                </div>
              </div>
              
              <div class="form-group col-md-2">
                <label>Hora INICIO</label>
                <input type="time" placeholder="" class="form-control form-control-alternative" value="{{ hora1 }}"
                  (change)="updtHorario1($event)" />
              </div>
              <div class="form-group col-md-4">
                <label>Data / Hora do FIM</label>
                <input type="text" class="form-control" formControlName="dateEnd" bsDatepicker
                  value="{{dateEnd | DateTimeFormatPipe}}" [(ngModel)]="dateEnd"
                  [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }"
                  [ngClass]="{'is-invalid': eventForm.get('dateEnd').errors && eventForm.get('dateEnd').touched}"
                  placeholder="">
                <div *ngIf="eventForm.get('dateEnd').hasError('required') && eventForm.get('dateEnd').touched" class="invalid-feedback">
                  Data e hora é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>Hora FIM</label>
                <input type="time" placeholder="" class="form-control form-control-alternative"
                  (change)="updtHorario2($event)" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Capacidade máxima de pessoas</label>
                <input type="text" placeholder="" class="form-control is-invalid" formControlName="capacity"
                  [ngClass]="{'is-invalid': eventForm.get('capacity').errors && eventForm.get('capacity').touched}">
                <div *ngIf="eventForm.get('capacity').hasError('required') && eventForm.get('capacity').touched" class="invalid-feedback">
                  Capacidade máxima é obrigatória
                </div>
                <div *ngIf="eventForm.get('capacity').hasError('max') && eventForm.get('capacity').touched" class="invalid-feedback">
                  Máximo de pessoas é de 1.000.000 (um milhão)
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex">
          <button class="btn btn-secondary" (click)="cadastro.hide()">
            Fechar
          </button>
          <button class="btn btn-primary ml-auto" [disabled]="!eventForm.valid" (click)="salvarAlteracao(cadastro)">
            Salvar Alterações
          </button>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">
            Deletando Evento
          </h4>
          <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{bodyDeletarEvento}}</p>
        </div>
        <div class="modal-footer btn-group d-flex">
          <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
            CENCELAR
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
            DELETAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div role="dialog"  aria-labelledby="dialog-sizes-name1" class="modal fade" tabindex="-1">
  <table class="table table-striped" id="extrato" #extrato *ngIf="eventsMostSold">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Evento</th>
        <th scope="col">Quantidade de ingressos vendidos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of eventsMostSold; let i = index">
        <th scope="row">i</th>
        <td>{{item.titleEvent}}</td>
      </tr>
    </tbody>
  </table>
</div>
