<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div class="container">
  <div class="row py-3 align-items-center">
    <div class="col-sm-9">
      <h2 class="display-2 mb-0">Eventos dos próximos 40 dias</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-4 mb-5" *ngFor="let item of eventos">
        <div class="property-card">
          <a [routerLink]="['/eventos/' + item.eventId + '/category']">
            <div *ngIf="item.images" class="property-image" [style.backgroundImage]="'url(' + item.images[0].src + ')'">
              <div class="property-image-title">
              </div>
            </div>
          </a>
          <div class="property-description">
            <h5>{{ item.titleEvent }}</h5>
            <p>{{ item.dateStart | date }}</p>
            <p>{{ item.description }}</p>
          </div>
          <a href="#">
            <div class="property-social-icons">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>