<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Cadastre com</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Ou entre com suas credenciais</small>
              </div>
              <form [formGroup]="registerForm">
                <div class="form-group" [ngClass]="{'focused':focus[0]===true}" >
                  <div class=" input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control form-control-alternative"
                      [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}"
                      placeholder="Name" type="text" (focus)="focus[0]=true" (blur)="focus[0]=false"
                      formControlName="name">
                      <div *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched" class="invalid-feedback">Campo obrigatório</div>
                      <div *ngIf="registerForm.get('name').hasError('minlength') && registerForm.get('name').touched" class="invalid-feedback">Mínimo 2 caracteres</div>
                      <div *ngIf="registerForm.get('name').hasError('maxlength') && registerForm.get('name').touched" class="invalid-feedback">Máximo 255 caracteres</div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus[1]===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control form-control-alternative" placeholder="Data de nascimento" bsDatepicker [minDate]="minDate" [maxDate]="maxDate"
                          (focus)="focus[1]=true" (blur)="focus[1]=false"
                          type="text" autocomplete="off" formControlName="dateBirth"
                          [ngClass]="{'is-invalid': registerForm.get('dateBirth').errors && registerForm.get('dateBirth').touched}">
                          <div *ngIf="registerForm.get('dateBirth').hasError('required') && registerForm.get('dateBirth').touched" class="invalid-feedback">Campo obrigatório</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus[2]===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>
                    <input class="form-control form-control-alternative" placeholder="CPF" type="text" (focus)="focus[2]=true" mask="000.000.000-00"
                      (blur)="focus[2]=false" formControlName="cpf" [ngClass]="{'is-invalid': registerForm.get('cpf').errors && registerForm.get('cpf').touched}">
                      <div *ngIf="registerForm.get('cpf').hasError('required') && registerForm.get('cpf').touched" class="invalid-feedback">Campo obrigatório</div>
                      <div *ngIf="registerForm.get('cpf').hasError('maxlength') && registerForm.get('cpf').touched" class="invalid-feedback">Máximo 14 caracteres</div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus[3]===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                    </div>
                    <input class="form-control form-control-alternative" placeholder="RG" type="text" (focus)="focus[3]=true" (blur)="focus[3]=false"
                      formControlName="rg" [ngClass]="{'is-invalid': registerForm.get('rg').errors && registerForm.get('rg').touched}">
                      <div *ngIf="registerForm.get('rg').hasError('required') && registerForm.get('rg').touched" class="invalid-feedback">Campo obrigatório</div>
                      <div *ngIf="registerForm.get('rg').hasError('maxlength') && registerForm.get('rg').touched" class="invalid-feedback">Máximo 12 caracteres</div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus[4]===true}" formGroupName="login">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control form-control-alternative" placeholder="Email" type="email" (focus)="focus[4]=true"
                      (blur)="focus[4]=false" formControlName="email" [ngClass]="{'is-invalid': registerForm.get('login.email').errors && registerForm.get('login.email').touched}">
                      <div *ngIf="registerForm.get('login.email').hasError('required') && registerForm.get('login.email').touched" class="invalid-feedback">Campo obrigatório</div>
                      <div *ngIf="registerForm.get('login.email').hasError('email') && registerForm.get('login.email').touched" class="invalid-feedback">Deve ser um login.email válido</div>
                      <div *ngIf="registerForm.get('login.email').hasError('maxlength') && registerForm.get('login.email').touched" class="invalid-feedback">Máximo 255 caracteres</div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus[5]===true}" formGroupName="login">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control form-control-alternative" placeholder="Senha" type="password" (focus)="focus[5]=true"
                      (blur)="focus[5]=false" formControlName="pass" [ngClass]="{'is-invalid': registerForm.get('login.pass').errors && registerForm.get('login.pass').touched}">
                      <div *ngIf="registerForm.get('login.pass').hasError('required') && registerForm.get('login.pass').touched" class="invalid-feedback">Campo obrigatório</div>
                      <div *ngIf="registerForm.get('login.pass').hasError('minlength') && registerForm.get('login.pass').touched" class="invalid-feedback">Mínimo 5 caracteres</div>
                      <div *ngIf="registerForm.get('login.pass').hasError('maxlength') && registerForm.get('login.pass').touched" class="invalid-feedback">Máximo 200 caracteres</div>
                  </div>
                </div>
                <div class="text-muted font-italic">
                  <small>password strength:
                    <span class="text-success font-weight-700">strong</span>
                  </small>
                </div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox"
                        formControlName="termos">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>Eu concordo com os
                          <a href="javascript:void(0)">termos</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button (click)="createAcount()" type="button" class="btn btn-primary mt-4" >Criar conta</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
